# OSTI Hourly Sync Job
# Syncs CBI records from OSTI E-Link API hourly and publishes to web locations
# 
# This file is managed by /opt/osti/bin/install_osti_hourly_cron.sh
# Manual edits will be overwritten on next install.

SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# Run sync at the top of every hour (minute 0)
# Runs as root to allow privileged publish operations
0 * * * * root /opt/osti/bin/osti_hourly_sync.sh >> /opt/osti/logs/cron.log 2>&1
